BasedOnStyle: Google
IncludeCategories:
  - Regex: '^[<"](kernel/)?(riscv|types)\.h'
    Priority: 1
  - Regex: '.*'
    Priority: 2
ForEachMacros:
  - list_for_each
  - list_for_each_entry
  - list_for_each_safe
  - list_for_each_entry_safe
